{% extends "layout.html" %}

{% block content %}
    <style>
        /* CSS styles to change text color to white */
        body {
            color: rgb(236, 214, 214);
        }
        h1,h2{
            color: #2c0b34;
        }
    </style>
    
    <h1>About Page</h1>
    <p>Welcome to our About Page. Here, you can learn more about this app.</p>

    <h2>Key Features</h2>
    <p>The app supports proper CRUD operations with database integration,user authentication,pagination etc.
        Some of the key features that will be updated soon are:
        <ul>
            <li>Content Creation - Support for text, images, videos, and other media types.</li>
            <li>Analytics & Insights - View and track post views, likes, shares, and comments.</li>
            <li>Content Discovery - Search functionality with filters (by topic, author, date, etc)</li>
            <li>Reader Engagement - likes, shares, comments and subscribing options</li>
        </ul> 
    </p>

    <h2>Our Mission</h2>
    <p>At our blogging app, our mission is to empower individuals and communities to share their stories, knowledge, and passions with the world. We are committed to providing a platform that fosters creativity, connects people through meaningful content, and promotes diverse voices in the digital landscape. Our core values revolve around user-centric design, content quality, and inclusivity, as we strive to make blogging accessible and enjoyable for everyone.</p>
    

    <h2>Contact Us</h2>
    <p>If you have any questions or would like to get in touch with us, please don't hesitate to contact us at seksripts@gmail.com. We'd love to hear from you!</p>
{% endblock content %}
